*{
    /* margin: 0px; */
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-image: url('./images/bgphoto.jpg');
    /* filter: blur(5px); */
    filter: brightness(1);
                }
.nav1{
    display: flex;
    justify-content:center;
    height: 150px;
    /* border: 1px solid black; */
    background-color: #97ccf769;
    align-items: center;
}
li a{
    color: rgb(255, 255, 255);
    font-size: 30px;
   margin-right: 50px;
    padding: 10px;
}
li a:hover{
    color: rgba(243, 170, 52, 0.588);
}
li{
    display: inline-block;
}
.mark{
    /* border: 1px solid rgb(255, 255, 255); */
    height: 35px;
    margin-top: 3px;
    display: flex;
    align-items: center;
}
marquee p{
    color: white;
    padding-bottom: 5px;
    font-size: 1.3rem;
}
.foot{
    text-align: center;
    font-size: smaller;
    font-style: italic;
    color:white;
    background-color: #97ccf769;
}
.foot p a{
    color: rgba(204, 206, 111, 0.588);
}
.foot p{
    padding: 5px 0px;
}
.destination a:hover{
    cursor: pointer;
    color: rgba(248, 169, 59, 0.529);

}
.destination{
    color:white;
}
.child:hover{
    background-color:rgba(173, 234, 236, 0.503);

}
.destination a h1{
    font-size: 1.3rem;
    color: rgb(239, 155, 28);
}
p{
    font-size: 1.3rem;
}


/* heritage site css starts from here  */

.wrapper{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
  margin:25px 0px
}

.heri-lcontainer{
    /* border: 2px solid green; */
    flex-wrap: wrap;
    flex-basis: 73%;
    color: white;
    padding: 15px 50px;
    

}

.heri-rcontainer{
    /* border: 2px solid blue; */
    flex-wrap: wrap;
    flex-basis: 26%;
    /* background-image: url('./images/pagoda.jpeg'); */
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #44434342;
    background-blend-mode: multiply;
    transition: 0.5s ease;
}
.heri-rcontainer:hover{
    background-color: #fff;
    background-blend-mode: multiply;
    transform: scale(1.01);
    border-radius: 15px;
    background-position: top;
    box-shadow: 2px 2px 2px #595757a6;
}
h1 a{
    text-decoration: none;
    color: white;
}

h1 a:hover{
    color: rgba(234, 149, 118, 0.713);
}